.cd2712ec {
    background-color: var(--_98e87352);
}

.aeeeaf9c {
    background-color: var(--b17c64d8);
}

.f350a95e {
    background-color: var(--_03eb64b9);
}

.d9a3fb12 {
    background-color: var(--_555fc995);
}

._9785c0be {
    background-color: var(--_78a1ee3d);
}

.e8eccdb4 {
    background-color: var(--bbe38834);
}

._0809456f {
    background-color: var(--_639a3f52);
}

.c9b684d8 {
    background-color: var(--_588f2cd0);
}

._1a11499e {
    background-color: var(--bf7017d4);
}